# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core
# trigger:
#- '*'
#
trigger:
- master

pool:
  vmImage: 'ubuntu-latest'
  demands:
  - npm

# 
variables:
  buildConfiguration: 'Release'
  wwwrootDir: 'Tailspin.SpaceGame.Web/wwwroot'
  dotnetSdkVersionBuild: '3.1.100'
  dotnetSdkVersionSonar: '2.2.103'


#steps:
#- script: dotnet build --configuration $(buildConfiguration)
#  displayName: 'dotnet build $(buildConfiguration)'

steps:
- task: DotNetCoreInstaller@0
  displayName: 'Use .NET Core SDK $(dotnetSdkVersionSonar) For Sonar Cloud'
  inputs:
    version: '$(dotnetSdkVersionSonar)'

- script: dotnet --list-sdks
  displayName: 'Check dotnet sdks'


- task: Npm@1
  displayName: 'Run npm install'
  inputs:
    verbose: false

- task: SonarCloudPrepare@1
  inputs:
    SonarCloud: '.NET-SpaceGame'
    organization: 'test-project-devops'
    scannerMode: 'MSBuild'
    projectKey: '.NET-SpaceGame'

- script: './node_modules/.bin/node-sass $(wwwrootDir) --output $(wwwrootDir)'
  displayName: 'Compile Sass assets'
# gulp tasks  minifies JavaScript and CSS assets
- task: gulp@1
  displayName: 'Run gulp tasks'

- script: 'echo "$(Build.DefinitionName), $(Build.BuildId), $(Build.BuildNumber)" > buildinfo.txt'
  displayName: 'Write build info'
  workingDirectory: $(wwwrootDir)

- task: UseDotNet@2
  displayName: 'Use .NET Core SDK $(dotnetSdkVersionBuild)'
  inputs:
    packageType: sdk
    version: '$(dotnetSdkVersionBuild)'

- script: dotnet --list-sdks
  displayName: 'Check dotnet sdks'
- task: DotNetCoreCLI@2
  displayName: 'Restore project dependencies'
  inputs:
    command: 'restore'
    projects: '**/*.csproj'

- task: DotNetCoreCLI@2
  displayName: 'Build the project - $(buildConfiguration)'
  inputs:
    command: 'build'
    arguments: '--no-restore --configuration $(buildConfiguration)'
    projects: '**/*.csproj'

- task: DotNetCoreInstaller@0
  displayName: 'Use .NET Core SDK $(dotnetSdkVersionSonar) For Sonar Cloud'
  inputs:
    version: '$(dotnetSdkVersionSonar)'
- task: SonarCloudAnalyze@1
- task: SonarCloudPublish@1
  inputs:
    pollingTimeoutSec: '300'

- task: UseDotNet@2
  displayName: 'Use .NET Core SDK $(dotnetSdkVersionBuild)'
  inputs:
    packageType: sdk
    version: '$(dotnetSdkVersionBuild)'
- task: DotNetCoreCLI@2
  displayName: 'Publish the project - $(buildConfiguration)'
  inputs:
    command: 'publish'
    projects: '**/*.csproj'
    publishWebProjects: false
    arguments: '--no-build --configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)/$(buildConfiguration)'
    zipAfterPublish: true

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: drop'
  condition: succeeded()

